*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
}
.containerPessoa{
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 2px;
  flex-direction: column;
}
.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
}
.containerPessoa button{
  width: 40px;
  background-color: white;
  border: none;
}
.containerPessoa input{
  width: 200px;
}
.containerPessoa button.on{
  background-color: gray;
  color: white;
}
.separa{
  display: flex;
  gap: 4px;
}